[MODEL]
wd = output\oxford_egohand_dataset_3_category\ssd_mobilenetV12301
project = hand_detection
name = oxford_egohand_dataset_3_category
model_type = ssd_mobilenetV1
pipeline_config = output\oxford_egohand_dataset_3_category\ssd_mobilenetV12301\ssd_mobilenet_v1_coco.config
num_steps = 200000
num_classes = 1
map_file = maps\hand.pbtxt
fine_tune_checkpoint = snapshots\mobilenetv1
train_tfrecord = output\oxford_egohand_dataset_3_category\ssd_mobilenetV12301\tfrecord\oxford_egohand_dataset_3_category_train.record
eval_tfrecord = output\oxford_egohand_dataset_3_category\ssd_mobilenetV12301\tfrecord\oxford_egohand_dataset_3_category_eval.record

[TFRECORD]
images = images/oxford_dataset_3_category
annotations = annotations/oxford_3_category
data_dir = .
trainval = hands.txt
labels_path = maps/hand.pbtxt

