[MODEL]
PROJECT = hand_detection
NAME = oxford_3_category_test
MODEL = ssd_resnet50
PIPELINE_CONFIG=configs\ssd_mobilenet_v1_coco.config
NUM_STEPS=200000
NUM_CLASSES=3
TRAIN_TFRECORD=output\oxford_3_category_test\ssd_resnet50\tfrecord\oxford_3_category_test_train.record
EVAL_TFRECORD=output\oxford_3_category_test\ssd_resnet50\tfrecord\oxford_3_category_test_eval.record
MAP_FILE=maps/hand_3.pbtxt
FINE_TUNE_CHECKPOINT=snapshots\mobilenetv1

[TRAIN]
TRAIN_DIR = ""

[EVAL]
EVAL_DIR = ""

[TENSORBOARD]
LOG_DIR = ""

[TFRECORD]
IMAGES=images\oxford_dataset_3_category
ANNOTATIONS=annotations\oxford_3_category
DATA_DIR=.
TRAINVAL=hands.txt
LABELS_PATH=maps/hand_3.pbtxt
